<div class="main">
    <mat-card class="inventaire-container">
        <h1>Liste des chanteurs</h1>
        <mat-list *ngFor="let chanteur of chanteurs">
            <div class="container-chanteur">
                <app-prenom [chanteur]=chanteur></app-prenom>
                <div class="button-actions">
                    <button  mat-mini-fab color="primary" aria-label="edit Joueur" (click)="modifierJoueur(chanteur)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button  mat-mini-fab color="primary" aria-label="delete Joueur" (click)="suppressionJoueur(chanteur)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-list>
        <button *ngIf="!showForm" mat-mini-fab color="primary" aria-label="ajouter Joueur" (click)="displayForm()">
            <mat-icon>add</mat-icon>
        </button>
        <app-form-edit-joueur [chanteur]="editChanteur" *ngIf="showForm"></app-form-edit-joueur>
        <router-outlet></router-outlet>
    </mat-card>
</div>