.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    transition: transform 300ms ease;
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  .full-width {
    width: 100%;
  }