<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" [routerLink]="[menuPrincipal.liensMenu]" *ngIf="(isExpanded || isShowing) && subMenus.length===0">{{menuPrincipal.nomMenu}}</span>
    <span class="full-width" *ngIf="(isExpanded || isShowing) && subMenus.length!==0">{{menuPrincipal.nomMenu}}</span>
    <mat-icon mat-list-icon>{{icone}}</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="(isExpanded || isShowing) && subMenus.length!==0">expand_more</mat-icon>
</mat-list-item>
<div class="submenu" *ngIf="showSubmenu">
    <a [routerLink]="[sub.liensMenu]" mat-list-item *ngFor="let sub of subMenus">{{sub.nomMenu}}</a>
    <!-- <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
        <mat-list-item>SubSubmenu Item 1</mat-list-item>
        <mat-list-item>SubSubmenu Item 2</mat-list-item>
    </div> -->
</div>