/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}

.containter-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.espacement {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}